body{
  background-image: url("../img/wd2.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;
}

.ham-icon{
  width: 64px;
  height: 64px;
  background: url("../img/ham-icon-64.png") no-repeat;
  display: none;
  cursor: pointer;
  float: left;
}
.close-icon{
  width: 64px;
  height: 64px;
  background: url("../img/close-64.png") no-repeat center;
  display: none;
  cursor: pointer;
  float: right;
}
.show-close-icon{
  display: block;
}
.hideSideNav {
  display: none;
}
.showSideNav {
  display: block;
}

.sidebar-nav{
  list-style-type: none;
  clear: both;
  padding-left: 10px;

  li {
    margin-top: 15px;
    a{
      font-size: 20px;
      font-weight: bolder;
      color: #d6d6d6;
    }
    & a:link, a:active, a:visited {
      text-decoration: none;
    }
  }

  .feed-link {
    padding-left: 26px;
    background: url("../img/icons/16/feed/rss-1.png") left center no-repeat;
  }
  .managed-places-link {
    padding-left: 26px;
    background: url("../img/icons/16/exam/closed-notebook-and-pen.png") left center no-repeat;
  }

  .followed-places-link {
    padding-left: 26px;
    background: url("../img/icons/16/followers/molecule.png") left center no-repeat;
  }

  .register-place-link {
      padding-left: 26px;
      background: url("../img/icons/16/study/flasks.png") left center no-repeat;
  }

  .settings-link {
    padding-left: 26px;
    background: url("../img/icons/16/settings/settings-1.png") left center no-repeat;
  }
}

.img-responsive {
  margin-top: 22px;
}


.identity-info {
  float: right;
  text-align: right;
  margin-right: 20px;


  .profile-pic {
    margin: 25px auto 10px;
    border-radius: 50%;
    float: right;
  }

  .info {
    font-size: 14px;

    &--colored {
      font-size: 16px;
      color: #710200;
    }
  }
}

.staticPos{
  padding-left: 0;
  text-align: center;
  position: static;
}

.fixedPos{
  position: fixed;
}


@media (max-width: 767px) {
  .ham-icon{
    display: block;
  }
}